<footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{pending}}</strong> items left</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
        <li *ngFor="let filtro of filtros" (click)="cambiarFiltro(filtro)">
            <a href="#/" [class.selected]="filtro===filtroActual">{{filtro.filtro}}</a>
        </li>
        <!--         <li>
            <a href="#/active">Active</a>
        </li>
        <li>
            <a href="#/completed">Completed</a>
        </li> -->
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button class="clear-completed" (click)="clearCompleted()">Clear completed</button>
</footer>